$tablePadding: 2%;
$tablePadding: 2%;

#userTableSection {

  padding-right: $tablePadding;
  padding-left: $tablePadding;

  .page-header {
    text-align: center;
  }

  .clearBtn {
    position: relative;
    left: 35px;
    bottom: 12px;
  }

  select {
    font-size: 18px;
    position: relative;
    bottom: 10px;
    left: 20px;
    margin-right: 1%;
    background-color: white;

  }

  .table {
    width: 100%;
  }

  @media (max-width: 768px) {

    padding-right: 5%;
    padding-left: 5%;
  }
}