$tablePadding: 2%;
$tablePadding: 2%;

#userTableSection {

  padding-right: $tablePadding;
  padding-left: $tablePadding;

  .page-header {
    text-align: center;
  }

  #searchBar {
    display: inline;
  }

  .clearBtn {
    position: relative;
    left: 20px;
    height: 35px;
    bottom: 12px;
  }

  select {
    font-size: 15px;
    position: relative;
    bottom: 10px;
    left: 20px;
    margin-right: 1%;
    background-color: white;
    height: 34px;
  }

  .table {
    width: 100%;
  }

  @media (max-width: 1021px) {

    padding-right: 5%;
    padding-left: 5%;

    .table, #pagSection {
      display: none;
    }

    #searchBar {
      margin-left: 5%;
      margin-bottom: 7%;
      display: block;
    }
  }

}

