$formWidth: 50%;

#formSection {

  width: $formWidth;
  margin-left: (100-$formWidth)/2;
  border: 1px black solid;
  padding-bottom: 1%;

  #userForm {
    width: 100%;
    padding: 2.5% 0;

    .baseInput {
      border-radius: 5px;
      font-size: 17px;
      margin: 0 2.5%;
    }

    .inputForm {
      @extend .baseInput;
      width: 20%;
    }

    select {
      @extend .baseInput;
      width: 10%;
    }

  }

  @media(max-width: 1800px) and (min-width: 800px) {
    width: 90%;
    margin-left: 5%;
  }

  @media(max-width: 799px) {

  }

}

