$formWidth: 96%;
#formSection {

  width: $formWidth;
  margin-left: (100-$formWidth)/2;
  padding-bottom: 1%;
  text-align: center;

  #userForm {
    width: 100%;
    padding: 0;
    text-align: center;

    .baseInput {
      border-radius: 5px;
      font-size: 17px;
      margin: 1.5% 25%;
      display: block;
    }

    .inputForm {
      @extend .baseInput;
      width: 50%;
    }

    select {
      @extend .baseInput;
      width: 50%;
    }

  }

  @media(max-width: 1024px) {
    width: 90%;
    margin-left: 5%;

    .inputForm, select {
      border: grey inset 1px;
    }
  }

  @media(max-width: 767px) {

    #userForm {

      br {
        display: none;
      }

      .inputForm, select {
        display: block;
        width: 60%;
        margin: 3% 20%;
        border: grey inset 1px;
        padding: 0 2%;
      }

    }

  }

}

