#formSection {

  width: 70%;
  margin-left: 15%;
  border: 1px black solid;
  padding-bottom: 1%;

  #userForm {
    width: 100%;
    padding: 2.5% 0;

    .baseInput {
      border-radius: 5px;
      font-size: 17px;
      margin: 0 2.5%;
    }

    .inputForm {
      @extend .baseInput;
      width: 15%;
    }

    select {
      @extend .baseInput;
      width: 10%;
    }

  }

}

